/******************** RTL  ******************************/
body {
    direction: rtl;
    unicode-bidi: embed;
}
ul, ol { margin: 0 10px 10px 0; }
.screen-reader-text:hover, .screen-reader-text:focus {
    right: 5px;
    left: auto;
}
caption, th, td { text-align: right; }
blockquote {
    border-right-width: 4px;
    border-left-width: 0px;
    margin: 0 0 1.4736842105em;
    padding: 0 1.263157895em 0 0;
}
#masthead .site-header-menu, #secondary.sidebar, #main.single-post .author-info .author-description, #main.single-post .post-navigation .nav-next, #main.archives .author-info .author-description, #main .page-header .page-title a.subscribe i { float: left; }
#masthead .site-branding, #masthead .search-form-wrap, #main .search-form-wrap, #masthead .site-header-menu li, #main, #main .hentry.post-content .entry-footer span, #main.single-post .author-info .author-avatar, .author-info .author-metas a, #main.single-post .post-navigation .nav-previous, #masthead .site-header-menu .menu-toggle i, #masthead .search-form-wrap .search-toggle i, #main.archives .author-info .author-avatar,#main .hentry.post-content .entry-meta ul li { float: right; }
#masthead .site-header-menu ul.primary-menu li ul.sub-menu, #masthead .site-header-menu ul.primary-menu li ul.sub-menu:before, #main .hentry.post-content .entry-footer span.item:before {
    right: 0px;
    left: auto;
}
#masthead .site-header-menu ul.primary-menu li ul.sub-menu:before {
    padding-right: 10px;
    padding-left: 0px
}
#masthead .site-header-menu li.menu-item-has-children a {
    padding-left: 20px;
    padding-right: 0px;
}
#main .hentry.post-content .entry-meta li {
       margin-right: 0px !important ; 
       margin-left: 20px;
}
#main .hentry.post-content .entry-meta ul li i.fa {
    margin-right: 0px !important;
      margin-left: 2px !important;
}
#masthead .site-header-menu li.menu-item-has-children a:after {
    right: auto;
    left: 7px;
}
#main .hentry.post-content .entry-summary p a.read-more i {
    margin-left: 0px;
    margin-right: 5px;
}
#main .hentry.post-content .entry-summary p a.read-more i:before { content: "\f060"; }
#main .hentry.post-content .entry-summary p a.read-more:hover i {
    margin-left: 0px;
    margin-right: 10px;
}
.author-info .author-metas a { margin: 2px 0px 2px 10px; }
#main.single-post .post-navigation .nav-next { text-align: left; }
#masthead .site-header-menu .menu-toggle i, #masthead .search-form-wrap .search-toggle i {
    margin-right: 0px;
    margin-left: 8px;
}
.comment-list .children > li {
    padding-right: 0.8em;
    padding-left: 0;
}
.comment-author .avatar {
    float: right;
    margin-right: 0;
    margin-left: 0.4em;
}
.bypostauthor > article .fn:after {
    right: 3px;
    left: auto;
}
.comment-metadata .edit-link {
    margin-right: 1em;
    margin-left: auto;
}
.pingback .edit-link {
    margin-right: 1em;
    margin-left: auto;
}
.comment-content ul, .comment-content ol { margin: 0 1.3333em 1.6em 0; }
.comment-reply-title small a { float: left; }
.comment-body div.reply, #main .page-header .page-title a.subscribe {
    left: 0px;
    right: auto;
}
#main .page-header .page-title a.subscribe i {
    margin-right: 5px;
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.search-submit{
    left:2px;
    right: auto;
}

@media screen and (max-width: 1025px) {
    #masthead .site-header-menu .main-navigation {
        right: auto !important;
        left: 00px !important;
    }
}
